.header {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
}

.hero.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero.subtext,
ul a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.header img {
    width: 530px;
    height: 230px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

li {
    list-style: none;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 100px;
}
.header .top{
    display: flex;
    justify-content: space-around;
}

ul {
    padding: 15px 0 0 0;
    display: flex;   
    gap: 15px;
}

.hero-body {
    display: flex;
    margin: auto;
    gap: 50px;
}

.hero-body .left {
    flex-direction: column;
    width: 460px;
    text-wrap: wrap;
}

.hero.subtext,
.hero.maintext {
    margin: 0;
}

.more-info img {
    width: 175px;
    height: 175px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.more-info {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.info-image {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 80px;
    margin: 40px 0 60px 0;
}

.info-image div {
    width: 175px;
    text-wrap: wrap;
}
.more-info p {
    text-align: center;
    font-size: 18px;
    color:#6a7283;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: center;
}

.quotes {
    font-size: 36px;
    color:#1F2937;
    margin: 0;
}

.source {
    font-weight: bolder;
    text-align: right;
    padding-right: 20px;
}

.quote-section div {
    width: 700px;
    margin: 60px 0;
}

.signup-section div {
    background-color: #3882F6;
}

.signup-section h3,
.signup-section p {
    color: white;
}

.signup-section h3 {
    font-size: 25px;
    font-weight: bolder;
}

.signup-section p {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.877);
}